<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="lipsumJsonApiEndpoint" value="http://api.lipsum.com/{0}/json?amount={1}&amp;start={2}&amp;what={3}" />
		<add key="lipsumApiKey" value="YOUR_KEY_HERE"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>